<h2><%= @track.name %></h2>
<p>From <%= @track.album.name %> by <%= @track.band.name %></p>

<%= button_to "Edit", band_url(@track), method: "patch" %>
<%= button_to "Delete", band_url(@track), method: "delete" %>

<p><%= @track.lyrics %></p>
