<h2><%= @album.name %></h2>
<% if @album.live %><small>live</small><% end %>
<p>by <%= link_to @album.band.name, band_url(@album.band) %></p>

<%= button_to "Edit", edit_album_url(@album), method: "get" %>
<%= button_to "Delete", album_url(@album), method: "delete" %>
<%= button_to "Add Track +", new_album_track_url(@album.band), method: "get" %>

<h3>Tracks</h3>
<ul>
<% @album.tracks.each do |track| %>
  <li><%= link_to track.name, track_url(track) %></li>
<% end %>
