<h2><%= @album.name %></h2>
<% if @album.live %><small>live</small><% end %>
<p>by <%= @album.band.name %></p>

<%= button_to "Edit", edit_album_url(@album), method: "get" %>
<%= button_to "Delete", album_url(@album), method: "delete" %>

<h3>Tracks</h3>
<ul>
<% @album.tracks.each do |track| %>
  <li><%= link_to track.name, track_url(track) %></li>
<% end %>
