<h2><%= @band.name %></h2>

<%= link_to "Edit", edit_band_url(@band), method: "get" %>
<%= link_to "Delete", band_url(@band), method: "delete" %>
<%= button_to "Add Album +", new_band_album_url(@band), method: "get" %>

<small>Tags:</small>
<% @band.tags.each do |tag| %>
  <small class="tag"><%= tag.body %></small>
<% end %>

<h2>Albums</h2>
<ul>
  <% @band.albums.each do |album| %>
    <li><%= link_to album.name, album_url(album) %></li>
  <% end %>
</ul>

<h2>Tracks</h2>
<ul>
  <% @band.tracks.each do |track| %>
    <li><%= link_to track.name, track_url(track) %></li>
  <% end %>
</ul>
